body {
    background: linear-gradient(to bottom,  lightblue, white); 
    height: 1200px;
    max-height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
  } 

#central {
    text-align: center;  
  }
